<div class="container">
    <div class="">
        <button mat-fab color="primary" [routerLink]="['/admin/dashboard']">
         <mat-icon>arrow_back_ios</mat-icon>
        </button>
    </div>
    <mat-toolbar>
        <span>Position Create</span>
    </mat-toolbar>
    <mat-card class="my-card">
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form" class="my-form">
                <mat-form-field class="full-width edit">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category_id">
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
           

                <mat-form-field class="full-width edit">
                    <mat-label>Name</mat-label>
                    <input matInput name="name" formControlName="name">
                    <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="validation">
                        <small *ngIf="form.get('name')?.errors?.required">Enter Name</small>
                        <small *ngIf="form.get('name')?.errors?.name">Enter valid Name</small>
                    </div>
                </mat-form-field>
                <mat-form-field class="full-width edit">
                    <mat-label>Article</mat-label>
                    <input matInput name="article" formControlName="article">
                    <div *ngIf="form.get('article')?.touched && form.get('article')?.invalid" class="validation">
                        <small *ngIf="form.get('article')?.errors?.required">Enter Article</small>
                        <small *ngIf="form.get('article')?.errors?.article">Enter valid Article</small>
                    </div>
                </mat-form-field>

                <mat-form-field class="full-width edit">
                    <mat-label>Description</mat-label>
                    <textarea matInput name="description" formControlName="description"></textarea>
                    <div *ngIf="form.get('description')?.touched && form.get('description')?.invalid"
                        class="validation">
                        <small *ngIf="form.get('description')?.errors?.required">Enter Article</small>
                        <small *ngIf="form.get('description')?.errors?.article">Enter valid Article</small>
                    </div>
                </mat-form-field>
                <mat-card-actions class="text-right">
                    <button mat-raised-button type="submit" color="primary">UPDATE</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>