<body>
    <div class="container">
        <header class="flex flex-space-between">
            <div>
                <div class="flex-space-between">
                    <h1>
                        <a routerLink="/">HENDLEX</a>
                    </h1>
                    <div>
                        <p>нано технології водовідштовхування</p>
                    </div>
                </div>
            </div>
            <div class="navbar flex flex-vertical-bottom">
                <ul>
                    <li class="navitem">
                        <a href="#">Головна</a>
                    </li>
                    <li class="navitem">
                        <a href="#">Категорії</a>
                    </li>
                    <li class="navitem">
                        <a href="#">Контакти</a>
                    </li>
                    <li class="navitem" routerLinkActive="active">
                        <a [routerLink]="['/admin', 'login']">Login</a>
                    </li>

                </ul>
            </div>
        </header>

        <main class="main clearfix">

        </main>