<mat-toolbar color="primary">

    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span [routerLink]="['/']">HENDLEX</span>
        <span class="example-spacer"></span>
        <mat-list-item routerLink="/admin" [routerLinkActive]="['active']">
            <a mat-button>Home</a>
        </mat-list-item>
        <ul *ngIf="auth.isAuthenticated(); else login">
            <mat-list-item [routerLink]="['/admin', 'dashboard']" [routerLinkActive]="['active']">
                <a mat-button>Dashboard</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/admin', 'add-category']" [routerLinkActive]="['active']">
                <a mat-button>Add category</a>
            </mat-list-item>

            <mat-list-item [routerLink]="['/admin', 'add']" [routerLinkActive]="['active']">
                <a mat-button>Add product</a>
            </mat-list-item>

            <mat-list-item [routerLink]="['/admin', 'orders']" [routerLinkActive]="['active']">
                <a mat-button>Orders</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/admin', 'users']" [routerLinkActive]="['active']">
                <a mat-button>Users</a>
            </mat-list-item>
            <mat-list-item [routerLinkActive]="['active']">
                <a mat-button (click)="logout($event)">Logout</a>
            </mat-list-item>
        </ul>

        <ng-template #login>
            <mat-list-item [routerLink]="['/admin', 'register']" [routerLinkActive]="['active']">
                <a mat-button>Register</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/admin', 'login']" [routerLinkActive]="['active']">
                <a mat-button>Login</a>
            </mat-list-item>


        </ng-template>

    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="pages" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>