<div class="container">
    <p>Cart</p>
    <button mat-fab color="primary" [routerLink]="['/dealer/list-of-goods']">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <ng-container *ngIf="cartPositionCount.length>0; else notPosition">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element ; let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        Загальна сума замовлення 36 600 грн.

        Знижка 3 020 грн.

        Сума із застосуванням знижки 26 540 грн.
    </ng-container>


    <ng-template #notPosition>
        Not position Cart
    </ng-template>


</div>