<div class="container">
  <p>Cart</p>
  <button mat-fab color="primary" [routerLink]="['/dealer/list-of-goods']">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <ng-container *ngIf="cartProducts.length > 0; else notPosition">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Назва</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Кількість</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="minusCount(element)" mat-raised-button>-</button>
          {{ element.count }}
          <button (click)="plusCount(element)" mat-raised-button>+</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Ціна</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="summ">
        <th mat-header-cell *matHeaderCellDef>Сума</th>
        <td mat-cell *matCellDef="let element">{{ element.summ }}</td>
      </ng-container>

      <tr
        class="header"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <b class="right">Total: {{ positionServices.totalPrice }}</b> uah
    <div>
      <button (click)="clearCart()" mat-stroked-button class="text-left">
        Clear
      </button>
      <button (click)="onSubmit()" class="" mat-raised-button color="warn">
        Submit
      </button>
    </div>
  </ng-container>
  <ng-template #notPosition> Not position Cart </ng-template>
</div>
